body { 
  background-color: #fff; 
  color: #000;
  padding: 0px;
  margin: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*********************************************/
#head{
  background: url(../images/background.png) repeat-x;
  height: 70px;
  color: #FFF;
  padding: 10px;
  font-size: 1.4em;
}
#head h1{
  margin: 10px 0px;
}


#wrap{ padding: 10px;}

#flash{
  border: 2px solid;
  font-size: 1.4em;
  padding: 10px;
  width: 500px;
  font-weight: bold;
  position: relative;
}
#flash.error{
  border-color: #FF0000 !important;
  color: #FF0000 !important;
}
#flash.notice{
  border-color: #18B752 !important;
  color: #18B752 !important;
}
#flash img.close{
  cursor: pointer;
  float: right;
  margin: -8px;
}

table{
  border: 1px solid #7F7F7F;
  border-collapse: collapse;
}
table tr{
  border: 1px solid #7F7F7F;
}
table th , table td{ padding: 2px 6px;}
table th{
  background-color: #333;
  color: #FFF;
}

/*Formularios*/
label{ font-weight: bold; color: #333;}

.l{ font-size: 1.3em;}
.xl{ font-size: 1.7em;}
.hora{ 
  color: #005500;
  font-size: 1.1em;
}

.new{
  margin: 4px;
  font-size: 1.3em;
  font-weight: bold;
  color:  #007700 !important;
}

a.new:hover{
  color: #FFF !important;
}
