<span class="green b">Entradas</span><br/>
<span class="blue b">Salidas</span>

<table>
  <tr>
    <th>Fecha</th>
    <th>
      Entradas y Salidas
    </th>
  </tr>

  <% @usuario.registros_ordenados(@conditions).each do |fecha, regs| %>
    <tr>
      <td>
        <%= I18n.l(fecha, :format => "%d de %b %Y") %>
      </td>
      <td>
        <% regs.each do |reg| %>
          <% @css = reg.tipo == "E" ? "green" : "blue" %>
          <span class="b <%= @css %>"><%= reg.created_at.strftime("%H:%M") %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
