<table>
  <tr>
    <th>Fecha</th>
    <% Registro.entradas.size.times do %>
      <th>Entrada</th>
      <th>Salida</th>
    <% end %>
  </tr>

  <% @usuario.registros_ordenados.each do |reg| %>
    <tr>
      <td>
        <%= I18n.l(reg[:fecha], :format => "%d de %b %Y") %>
      </td>
      <% reg[:entradas].each_index do |i| %>
        <td><%= reg[:entradas][i].created_at %></td>
        <td><%= reg[:salidas][i].created_at %></td>
      <% end %>
    </tr>
  <% end %>
</table>
